.t{
    font-family: regular libre;
    margin-top: 75px;
}
body{
    background-color: black;
    color:white;
}
img{
    borde:5px solid white;
}
h1{
      text-transform:uppercase;
}















